/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/uploads
/var/uploads/*
!var/uploads/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
!/web/bundles
/web/bundles/*
!web/bundles/.gitkeep
!/web/css
/web/css/*
!web/css/.gitkeep
!/web/js
/web/js/*
!/web/js/tinymce
!web/js/.gitkeep
!/web/images
/web/images/*
!web/images/.gitkeep
!/web/media
/web/media/*
!web/media/.gitkeep
!/web/uploads
/web/uploads/*
!web/uploads/.gitkeep

.sass-cache/
*.sass-cache/
*.css.map

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
Thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
intermediate
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties
